<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryptocurrency Charts</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{#    <script>#}
{#        $(function () {#}
{#            $(".dtpick").datepicker();#}
{#        });#}
{#    </script>#}
    {{ script|safe }}
</head>
<body>
<h1>Crypto Page</h1>
<form action="/crypto_pick" method="POST">
    <p>Crytpo Ticker (e.g. ETH)<input type="text" name="Name"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
{{ div|safe }}
</body>
</html>