<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TDI Milestone Project</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Data Visualizations</h1>
            <ul>
                <li><a href="/stocks">Stock Data</a></li>
                <li><a href="/crypto">Cryptocurrency Data</a></li>
            </ul>
		</div>
	</body>
</html>
